.venv/
__pycache__/
*.pyc
.DS_Store
venv/
.venv/
**/venv/
**/.venv/
**/venv/
**/*.Identifier
.venv/
venv/
Entropy-conjecture/Precession_Analysis/bbh_precession_campaign/bbh_lowq_precession_campaign.sqlite
Entropy-conjecture/Precession_Analysis/bbh_precession_campaign/bbh_lowq_precession_campaign.sqlite
